#background {
    position: relative;
    width: 300px;
    height: 300px;
    background-color: lightgray; /* Hintergrundfarbe */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black; /* Rahmen für bessere Sichtbarkeit */
}

/* Ensure the main containe takes up the full viewport */
#container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0px; /* Optional: Add padding */
}

/**
    * this is for a thin black horizontal line
    * that is centered in the middle of the webcam
    * and used to align the crosshair right.
*/
#reference {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px dashed black; /* Referenzrahmen */
    box-sizing: border-box;
    z-index: 1; /* Hintergrund hinter dem Kreuz */
}

#rectangle {
    position: relative;
    width: 200px;
    height: 200px;
    z-index: 2; /* Kreuz über dem Hintergrund */
}

#rectangle::before,
#rectangle::after {
    content: '';
    position: absolute;
    background-color: red;
}

.spacediv {
    width: 0.2rem;
}


#rectangle::before {
    width: 100%;
    height: 5px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

#rectangle::after {
    width: 5px;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#rectangle.green::after, #rectangle.green::before{
    background-color: green;
}

#rectangle_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: 2;
}

#center_line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: translateY(-50%);
    pointer-events: none; /* Verhindert, dass die Linie die Interaktion mit dem Video blockiert */
}

/* Style for the video element */
#webcam {
    width: 100%;
    height: auto;
    max-width: 90vw; /* Constrain the width to 90% of the viewport width */
    max-height: 90vh; /* Constrain the height to 90% of the viewport height */
    border: 2px solid #ccc; /* Optional: Add a border */
    border-radius: 10px; /* Optional: Add rounded corners */
    transform: scaleX(-1);
}

#captured_photo {
    width: 100%;
    height: auto;
    transform: scaleX(-1);
}

.title {
    font-family: 'Arial', sans-serif;
    font-size: 3em;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    position: relative;
}



/* Ensure the body takes up the full viewport */
body {
    margin: 0;
    width: 98vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: black;
    color: white;
    font-family: Verdana;

}

/* Style for the buttons */
button {
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
}


/**
    * The following styles are for the main container
    * that holds the entire content.
    * here it is ensured, that the main container takes up the full viewport,
    * so the whole website can be displayed at once.
*/
.wholesite {
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    margin-top: 0px;
}


/**
    * The following styles are for the brand Photo Tool
    * in the navbar.
    */
.navbar_brand {
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    position: relative;
    z-index: 2;
    padding-right: 2px;
    padding-left: 2px;
    border: 2px solid white;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 5px;
}

.editing_buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    margin-top: 20px;
}

#captured_photo {
    width: auto;
    height: auto;
    max-width: 90vw; /* Constrain the width to 90% of the viewport width */
    max-height: 90vh; /* Constrain the height to 90% of the viewport height */
    border: 2px solid #ccc;
    border-radius: 10px;
    transform: scaleX(-1);
}

.editing_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0px; /* Optional: Add padding */
}

.take_photo {
    padding: 8px 16px;
    margin-right: 4px;
}

.request_permission_button {
    padding: 8px 16px;
    margin-left: 4px;
}